body {
	min-width: 357px;
	overflow-x: hidden;
	font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
	font-size: 11px;
	color: #333333;
	margin: 0;
	padding: 0;
}

div.content div#lists {
	border-bottom: 1px solid #C1C1C1;
	padding: 5px;
	background-color: #EEEEEE;
}

.list {
	padding: 6px 8px 2px;
	font-weight: bold;
	text-decoration: none;
	float:left;
	background: #D1E0FF;
	border: 1px solid #A6C3FF;
	margin: -1px 4px;
	border-radius: 3px;
	color: #3B5998;
	height: 16px;
	text-align: center;
}

.clearfix:after, .container:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.clearfix, .container {
  display: inline-block; 
}

* html .clearfix,
* html .container {
  height: 1%; 
}

.clearfix, .container {
  display: block; 
}
