body {
	min-width: 357px;
	overflow-x: hidden;
	font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
	font-size: 11px;
	color: #333333;
	margin: 0;
	padding: 0;
}

div.content div#lists {
	border-bottom: 1px solid #C1C1C1;
	padding: 5px;
	background-color: #EEEEEE;
}

div.content div.action_container {
	padding: 15px 5px;
	border-bottom: 1px solid #AAAAAA;
}

input[type="text"] {
	border: 1px solid #BDC7D8;
}

input[type="text"].adder {
	font-size: 13px;
	height: 24px;
	width: 270px;
}

a.ui_button {
	background: #5B74A8 url(images/buttons_bg.png) repeat-x scroll 0 0;
	height: 16px;
	color: #FFFFFF;
	cursor: pointer;
	font-size: 11px;
	font-weight: bold;
	margin: 0;
	outline: none;
	padding: 5px 6px;
	text-decoration: none;
	white-space: nowrap;
}

.list {
	padding: 6px 8px 2px;
	font-weight: bold;
	text-decoration: none;
	float:left;
	background: #D1E0FF;
	border: 1px solid #A6C3FF;
	margin: -1px 4px;
	border-radius: 3px;
	color: #3B5998;
	height: 16px;
	text-align: center;
}

.clearfix:after, .container:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.clearfix, .container {
  display: inline-block; 
}

* html .clearfix,
* html .container {
  height: 1%; 
}

.clearfix, .container {
  display: block; 
}

#todos{
   margin: 0;
   padding: 0;
}

#todos li{
    font-size: 22px;
    list-style-type: none;
    cursor: pointer;
    padding-left: 20px;
    
}
.completed{
    text-decoration: line-through;
    color: #ccc;
}
#todos li:hover{
    background-color:#AAC6FF;
}



